  body {
    color: white;
    background: #0d0d0d;
    
  }
  
  .panel-default {
    background: #262626;
    border-color: #212121;
  }
  
  .panel-default > .panel-heading {
    color: white;
    background: #1a1a1a;
    border-color: #212121;
  }
  
  #gatherButton {
    background-color: #232323 !important;
    border: 1px double #333333 !important;
    box-shadow: inset 0 0 1px #fff, 1px 1px 2px #000;
    width: 90px;
    height: 32px;
    color: white;
  }
  
  button, select, input, input[type="text"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input {
    background-color: #232323 !important;
    border: 1px double #333333 !important;
    box-shadow: inset 0 0 1px #fff, 1px 1px 2px #000;
    color: white;
  }
  
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #0d0d0d;
    border: 1px double #212121 !important;
    color: #eee;
  }
  
  .nav-tabs > li > a:hover {
    background-color: #0d0d0d;
  }
  
  .popover {
    background-color: #0d0d0d;
    color: #eee;
    border: 1px double white;
  }
  
  td {
    background-color: #0d0d0d;
    color: #eee;
  }
  
  .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td, .table-bordered {
    border: 1px double #212121 !important;
  }
  
  .nav-tabs {
    border-bottom: 1px double #212121 !important;
  }
  
  .progress {
    background: #1a1a1a url("http://i.imgur.com/IXe5opr.png") repeat fixed !important;
    border: 1px double #333333;
	  border-radius: 5px !important;
    box-shadow: inset 0 0 1px #fff, 1px 1px 2px #000;
  }
  
  .progress-bar[aria-valuenow="0"] {
    color: #e6e6e6;
  }
  
  .progress-bar-danger {
    background: linear-gradient(to top, #441817, #5f2221) !important;
  }
  
  .progress-bar-warning {
    background: linear-gradient(to top, #574800, #806a00) !important;
  }
  
  .ui-dialog, .ui-dialog .ui-dialog-buttonpane, .ui-dialog .ui-dialog-title, .ui-dialog .ui-dialog-content, .ui-dialog .ui-dialog-titlebar, .ui-widget-content {
    color: white;
    background: #0d0d0d;
    border-color: #212121 !important;
  }
  
  hr {
    border-top-color: #212121 !important;
  }

  .dropdown-menu {
    background: #0d0d0d;
    border: 1px double #212121 !important;
  }
  
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a {
    color: white;
  }
  
  .dropdown-menu > li > a:hover {
    background: #1a1a1a;
  }