body {
    font-family: 'Droid Sans', sans-serif;
    text-align:center
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}


#error, #errorDialog {
    color: red;
}

#gatherButton {
    padding:5px 5px 5px 40px;
    background-color: #dcdcdc;
    border: 1px solid #666;
    color:#000;
    text-decoration:none;
    width: 90px;
    background: #dcdcdc url(/images/I_Chest02.png) no-repeat scroll 5px center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: auto ;
    margin-right: auto ;
}

#gatherButton:hover {
  padding:4px 4px 4px 39px;
  background: #dcdcdc url(/images/I_Chest02.png) no-repeat scroll 4px center;
  border: 2px solid #666;
  cursor: pointer;
}

button:hover {
    padding: 4px;
    border: 2px solid #666;
}

button {
  padding:5px;
  background-color: #dcdcdc;
  border: 1px solid #666;
  color:#000;
  text-decoration:none;
  width: 175px;
}

#resources {
    font-size:medium;
}

#Title {
    font-size:x-large;
}



h3 {
    text-align: center;
}

#heroList{
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 100%;
}
#heroList li{
    margin: 3px 3px 3px 0; 
    padding: 1px; 
    float: left; 
    width: 250px; 
    height: 390px; 
    text-align: center;
    font-size: small;
}
#partyList {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 100%;
}

#partyList li{
    padding: 1px;
    float: left; 
}

#partyTable{
    border-width: 3px;
    height: 300px;
    width: 530px;
}

#heroTable{
    border-width: 3px;
    height: 300px;
}

#heroTableTitle{
    font-size:x-large;
}

#upgradeList{
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 100%;
}

#upgradeList li{
    margin: 3px 3px 3px 0; 
    padding: 1px; 
    float: left; 
    text-align: center;
    font-size: small;
}

#monsterList{ 
    margin: 0; 
    padding: 0; 
    
}

#support {
    text-align: right;
    float:right;
    pointer-events:initial;
}

#tips {
    text-align:left;
}

#heroFilter{
    text-align:left;
}

#sortButton{
    width:auto;
}

#dungeonCount{
    width:50px;
}

#optionMenu {
    width: 75%;
    margin-left: auto ;
    margin-right: auto ;
    text-align:left;
}

#lootTable { border: none; border-collapse: collapse; }
#lootTable td { border-left: 1px solid LightGray; }
#lootTable td:first-child { border-left: none; }

.noTextSelect {
        -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ng-slider {
  width: 3em;
  height: 3em;
  position: absolute;
  
  /* Add vendor prefixes as needed */
  transition: top 800ms linear, left 800ms linear;
}

#version {
    text-align:left;
}

#infobutton {
    position: absolute;
    bottom: 10px;
    right: 6px;
    padding:5px 5px 5px 5px;
    background-color: #dcdcdc;
    border: 1px solid #666;
    color:#000;
    text-decoration:none;
    width: 90px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: auto ;
    margin-right: auto ;
}

#infoButtonDiv {
    
}

#panelList {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 100%;
    text-align:left;
}

hr{
    padding: 0px;
    margin: 0px;    
  }

/*
     FILE ARCHIVED ON 03:38:31 Oct 27, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:38:45 Jun 27, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/